#hero-img {
  background-image: url("../../../public/assets/images/b786ae40-b78c-4dfc-bfed-b5062350cd16.JPG");
  background-size: cover;
  background-position: center;
  background-position: center;
  height: 700px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1300px) {
  #hero-img {
    height: 500px;
  }
}

.hero-text {
  color: aliceblue;
  font-size: 2em;
}

.container {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.hero-text {
  font-size: 2.5em;
  color: white;
  font-weight: 700;
  padding-bottom: 30px;
}

.small-text {
  font-size: 1.3em;
  color: white;
}

.call_to_action {
  display: flex;
  justify-content: center;
}

/*  === MEDIA QUERIES === */

@media (max-width: 800px) {
  #hero-img  {
    height: auto;
  }
  .hero-text {
    text-align: center;
  }
  .small-text {
    display: none;
  }
}
